---
export interface Props {
  text: string;
  path: string;
  target?: string;
}

const { text, path, target } = Astro.props;
---

<a href={path} target={target ? target : "_self"}>
  <div class="pt-4 cursor-pointer">
    <span
      class="uppercase p-4 bg-white text-default-400 rounded-lg tracking-wider hover:bg-brandTeal transition-all inline-block"
      >{text} &rarr;</span
    >
  </div>
</a>
