---
export interface Props {
  text: string;
  path: string;
  target?: string;
}

const { text, path, target } = Astro.props;
---

<a href={path} target={target ? target : "_self"}>
  <div class="cursor-pointer pt-4">
    <span
      class="hover:bg-brandTeal inline-block rounded-lg bg-white p-4 uppercase tracking-wider text-default-400 transition-all"
      >{text} &rarr;</span
    >
  </div>
</a>
