---
import ResumeCard from '../components/ResumeCard.astro';
import Spacer from '../components/Spacer.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Matthew Berger">
    <h1 class="text-5xl font-semibold pt-24 leading-[1.2] mb-10">
        About Me
    </h1>
    <div class="prose prose-invert prose-cyan">
        Hi!
        <br><br>
        I'm Matthew, a third year Combinatorics and Optimization student at the University of Waterloo, and this is my small corner of the internet. 
        <br><br>
        Ever since I was young I've been passionate for computers and technology. Before learning to code, much of my time on the computer was spent editing photographs I had taken or designing posters for random events. Still today, I unabashedly consider one of my hobbies to be <i>typefaces</i>, because I am always amazed by how subtle changes to universal letterforms can so significantly affect how we percieve them. (i.e. <span class="font-['Times_New_Roman']">Times New Roman</span> versus <span class="font-['Comic_Sans_MS']">Comic Sans</span>)
        <br><br>
        Yet, my interest in mathematics has also given me a strong technical skillset. In my coursework, I have extensively covered areas such as linear programming, combinatorial optimization, computational discrete optimization, algorithmic problem solving (including dynamic programming), and algorithm design. These courses have not only equipped me with a strong theoretical foundation but have also honed my ability to communicate complex ideas and solve challenging problems.
        <br><br>
        Outside of the time I spend on the computer, I can never turn down a good hike, so don't be surprised if you find some of my photos dotted around the site!
        <br><br>
        I'd be happy to hear any projects you might want to collaborate on, so feel free to drop me an e-mail or reach out to me on Twitter @itsmattberger.
        <br><br>
        Thanks for reading, and I hope to hear from you soon!
        <br>
        - Matthew
    </div>
    <ResumeCard/>
    <Spacer/>
</MainLayout>
