---
import { fade } from "astro:transitions";
import ResumeCard from "../components/ResumeCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Matthew Berger | About">
  <div
    class="flex items-center justify-center rounded-3xl bg-blue-600 py-32"
    transition:name="hero"
  >
    <h1
      class="text-center font-phudu text-8xl font-extrabold text-yellow-600"
      transition:name="hero-title"
      transition:animate={fade({ duration: "0.1s" })}
    >
      About Me
    </h1>
  </div>
  <div
    class="flex flex-col items-center gap-8 pt-28 md:flex-row md:items-start"
  >
    <div class="prose prose-slate prose-invert">
      Hi!
      <br /><br />
      I'm Matthew, a third year Combinatorics and Optimization student at the University
      of Waterloo, and this is my small corner of the internet.
      <br /><br />
      Ever since I was young I've been passionate for computers and technology. Before
      learning to code, much of my time on the computer was spent editing photographs
      I had taken or designing posters for random events. Still today, I unabashedly
      consider one of my hobbies to be <i>typefaces</i>, because I am always
      amazed by how subtle changes to universal letterforms can so significantly
      affect how we percieve them. (i.e. <span class="font-['Times_New_Roman']"
        >Times New Roman</span
      > versus <span class="font-['Comic_Sans_MS']">Comic Sans</span>)
      <br /><br />
      Yet, my interest in mathematics has also given me a strong technical skillset.
      In my coursework, I have extensively covered areas such as linear programming,
      combinatorial optimization, computational discrete optimization, algorithmic
      problem solving (including dynamic programming), and algorithm design. These
      courses have not only equipped me with a strong theoretical foundation but
      have also honed my ability to communicate complex ideas and solve challenging
      problems.
      <br /><br />
      Outside of the time I spend on the computer, I can never turn down a good hike,
      so don't be surprised if you find some of my photos dotted around the site!
      <br /><br />
      I'd be happy to hear any projects you might want to collaborate on, so feel
      free to drop me an e-mail at <a href="mailto:hi@matthewberger.ca"
        >hi@matthewberger.ca</a
      >.
      <br /><br />
      Thanks for reading, and I hope to hear from you soon!
      <br />
      - Matthew
    </div>
    <ResumeCard />
  </div>
</MainLayout>
