---
import ResumeCard from '../components/ResumeCard.astro';
import Spacer from '../components/Spacer.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Matthew Berger">
    <h1 class="text-5xl font-semibold pt-24 leading-[1.2] mb-10">
        About Me
    </h1>
    <div class="prose prose-invert prose-cyan">
        Hi!
        <br>
        I'm Matthew, a second year mathematics student at the University of Waterloo, and this is my small corner of the internet. I've been passionate for computers and technology ever since I was young, and haven’t stopped learning since. Whether its web design, software development, or 3D modelling, I always manage to find something new to learn about.
        <br><br>
        Outside of the time I spend on the computer, I can never turn down a good hike, so don't be surprised if you find some of my photos dotted around the site!
        <br><br>
        I'd be happy to hear any projects you might want to collaborate on, so feel free to drop me an e-mail or reach out to me on Twitter @itsmattberger.
        <br><br>
        Thanks for reading, and I hope to hear from you soon!
        <br>
        - Matthew
    </div>
    <ResumeCard/>
    <Spacer/>
</MainLayout>
