---
import { Image } from "astro:assets";

export interface Props {
  title: string;
  summary: string;
  image: string;
  slug: string;
}

const { title, summary, image, slug } = Astro.props;
---

<a
  href={slug}
  class="flex transform flex-col rounded-lg bg-white text-default-400 shadow-lg transition-transform duration-300 hover:-translate-x-[-0.25rem] hover:-translate-y-[0.25rem] motion-reduce:transform-none motion-reduce:transition-none xs:flex-row md:flex-col lg:flex-row"
>
  <div class="basis-5/12 bg-default-400">
    <div class="relative h-full w-full bg-default-400 md:h-44 lg:h-full">
      <Image
        src={image}
        class="h-full rounded-l-lg object-cover"
        width={"600"}
        height={"600"}
        alt={"Blog Header Image"}
        format={"webp"}
      />
    </div>
  </div>
  <div class="basis-7/12 p-6">
    <h3 class="my-4 text-3xl font-semibold">{title}</h3>
    <p class="text-md md:text-lg lg:text-base">{summary}</p>
  </div>
</a>
