---
import { Icon } from "astro-icon/components";
---

<div class="from-default-900 bg-gradient-to-t">
  <div
    class="flex max-w-5xl flex-col justify-between space-y-6 px-6 py-16 sm:flex-row md:mx-auto md:px-12 lg:px-0"
  >
    <div class="flex justify-between gap-8">
      <Icon name="logo-white" size="90" />
      <div>
        <p class="pb-4">Designed and Developed by <br /> Matthew Berger</p>
        <p class="inline">
          Made with <Icon
            name="ph:heart-fill"
            size="20"
            class="mx-0.5 inline"
          /> in Toronto
        </p>
      </div>
    </div>
    <div>
      <h5 class="mb-4 hidden text-right font-phudu text-2xl font-bold sm:block">
        Let's get in touch!
      </h5>
      <ul class="flex justify-between gap-2 md:text-right">
        <li>
          <a
            class="hover:text-brandTeal transition-all"
            href="https://twitter.com/itsmattberger"
            target="_blank"
            rel="noreferrer"
          >
            <Icon name="ri:twitter-fill" size="30" />
          </a>
        </li>
        <li>
          <a
            class="hover:text-brandTeal transition-all"
            href="https://github.com/bergermaestro"
            target="_blank"
            rel="noreferrer"
          >
            <Icon name="ri:github-fill" size="30" />
          </a>
        </li>
        <li>
          <a
            class="hover:text-brandTeal transition-all"
            href="https://www.linkedin.com/in/matthewaberger/"
            target="_blank"
            rel="noreferrer"
          >
            <Icon name="ri:linkedin-box-fill" size="30" />
          </a>
        </li>
        <li>
          <a
            class="hover:text-brandTeal transition-all"
            href="mailto:matthew17berger@gmail.com"
            target="_blank"
            rel="noreferrer"
          >
            <Icon name="ph:envelope-bold" size="30" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
