---
import Icon from "astro-icon";
---

<div class="bg-gradient-to-t from-default-900">
  <div
    class="flex max-w-3xl flex-col justify-between space-y-6 px-6 py-16 sm:flex-row md:mx-auto md:px-12 lg:px-0"
  >
    <div class="flex flex-row justify-between sm:flex-col">
      <div class="mb-5">
        <Icon name="logo-white" class="w-24" />
      </div>
      <div>
        <p>Designed and Developed by</p>
        <p>Matthew Berger</p>
        <div class="h-6"></div>
        <div class="inline">
          Made with <Icon
            name="clarity:heart-solid"
            class="mx-0.5 inline h-6 w-6"
          /> in Toronto
        </div>
      </div>
    </div>
    <div>
      <h5 class="mb-4 hidden text-2xl font-bold sm:block">Get in touch!</h5>
      <ul
        class="mt-12 flex flex-row justify-between sm:mt-0 sm:flex-col sm:space-y-2 md:text-right"
      >
        <li>
          <a
            class="hover:text-brandTeal transition-all"
            href="https://twitter.com/itsmattberger"
            target="_blank"
            rel="noreferrer"
          >
            Twitter</a
          >
        </li>
        <li>
          <a
            class="hover:text-brandTeal transition-all"
            href="https://github.com/bergermaestro"
            target="_blank"
            rel="noreferrer"
          >
            Github</a
          >
        </li>
        <li>
          <a
            class="hover:text-brandTeal transition-all"
            href="https://www.linkedin.com/in/matthewaberger/"
            target="_blank"
            rel="noreferrer"
          >
            LinkedIn</a
          >
        </li>
        <li>
          <a
            class="hover:text-brandTeal transition-all"
            href="mailto:matthew17berger@gmail.com"
            target="_blank"
            rel="noreferrer"
          >
            Email</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
