---
import SolidButton from "./Buttons/SolidButton.astro";
import { Image } from "@astrojs/image/components";

export interface Props {
  images: any;
}

// const { images } = Astro.props;


const images = [
  {url: "https://res.cloudinary.com/matthewberger/image/upload/v1645503517/106582962_313374366366248_4478339207149697437_n_6832f4393b.jpg"}, 
  {url: "https://res.cloudinary.com/matthewberger/image/upload/v1645503518/116246982_294903704902043_5912067855605461718_n_17a1172ab1.jpg"}, 
  {url: "https://res.cloudinary.com/matthewberger/image/upload/v1645503518/116083927_762105837909027_5134881624978116803_n_a79373f408.jpg"},
  {url: "https://res.cloudinary.com/matthewberger/image/upload/v1645503518/116010473_278006043654417_3365401399263332219_n_7d2b91f1fc.jpg"},
  {url: "https://res.cloudinary.com/matthewberger/image/upload/v1645503517/107821292_271133724183073_3919736138283767027_n_8b0a3e5571.jpg"},
  {url: "https://res.cloudinary.com/matthewberger/image/upload/v1645503517/112613789_894184617742045_831483574685464405_n_12ca02993c.jpg"},
  {url: "https://res.cloudinary.com/matthewberger/image/upload/v1645503517/83717780_3963843907023354_43348298014472870_n_08258f2b97.jpg"},
  {url: "https://res.cloudinary.com/matthewberger/image/upload/v1645503517/106809751_719205758863710_1641263503048864519_n_550c131b72.jpg"},
  {url: "https://res.cloudinary.com/matthewberger/image/upload/v1645503517/106691377_1682772741875942_281587236741181828_n_cf38f7951c.jpg"}
];

---

<div class="flex flex-col-reverse md:flex-row items-center">
  {/* Left Section */}
  <div
    class="bg-white text-default-400 rounded-lg shadow-lg grid grid-cols-3 grid-rows-3 gap-2 p-2 lg:gap-3 lg:p-3 aspect-square basis-1/2"
  >
    {
      images &&
        images
          .slice(0, 9)
          .map((image: any) => (
            <Image
              src={image.url}
              width={"auto"}
              height={"auto"}
              class="rounded-md hover:-scale-[-0.25rem] duration-300 motion-reduce:transition-none motion-reduce:transform-none aspect-square object-cover"
            />
          ))
    }
  </div>

  {/* Right Section */}
  <div class="bg-default-900 basis-1/2">
    <div
      class="px-3 sm:px-8 py-12 space-y-4 bg-[url('../images/gallery-background.png')] bg-cover bg-no-repeat bg-opacity-30"
    >
      <h4 class="uppercase text-xl tracking-wider">The Gallery</h4>
      <h2 class="font-bold text-4xl">Life through the lens</h2>
      <p class="md:w-3/4 text-md md:text-lg lg:text-base">
        Take a look at the places I've been and the photographs I've taken
      </p>
      <SolidButton
        text="See My Photos"
        path="https://www.instagram.com/itsmattberger/"
      />
    </div>
  </div>
</div>
