---
import { Image } from "@astrojs/image/components";
import Icon from "astro-icon";

import heroImage from '../images/hero-image.png';
---

<div class="flex flex-col-reverse md:flex-row mt-12">
  <div class="basis-1/2 mt-0 md:mt-32">
    <h1 class="text-3xl md:text-5xl font-crete-round mb-6 leading-[1.2]">
      Hi, I'm Matthew & I'm A Full Stack Creative
    </h1>
    <p class="md:text-base text-sm md:mr-16 leading-relaxed">
      I'm a second-year mathematics student at the University of Waterloo, and
      this is my small corner of the internet. This past summer I worked at
      Tradable Bits Media as a Full-Stack Web Developer, and if you would like
      to work with me in the future, or simply ask me a question, please reach
      out to me using any of the social icons below. Failing that, I've heard
      that pigeons work well.
    </p>
    <ul class="flex space-x-2 my-6 items-center">
      <li>
        <a
          class="hover:text-brandTeal transition-all"
          href="https://twitter.com/itsmattberger"
          target="_blank"
          rel="noreferrer"
        >
          <Icon name="fa-brands:twitter" class="inline mr-3 w-8 h-8" />
        </a>
      </li>
      <li>
        <a
          class="hover:text-brandTeal transition-all"
          href="https://github.com/bergermaestro"
          target="_blank"
          rel="noreferrer"
        >
          <Icon name="akar-icons:github-fill" class="inline mr-3 w-8 h-8" />
        </a>
      </li>
      <li>
        <a
          class="hover:text-brandTeal transition-all"
          href="https://www.linkedin.com/in/matthewaberger/"
          target="_blank"
          rel="noreferrer"
        >
          <Icon name="fa-brands:linkedin" class="inline mr-3 w-8 h-8" />
        </a>
      </li>
      <li>
        <a
          class="hover:text-brandTeal transition-all"
          href="mailto:matthew17berger@gmail.com"
          target="_blank"
          rel="noreferrer"
        >
          <Icon name="heroicons-outline:mail" class="inline mr-3 w-10" />
        </a>
      </li>
    </ul>
  </div>
  <div class="basis-1/2 md:pl-12 px-8 mx-auto">
    <Image
      src={heroImage}
      alt="A navy blue tower with conveyor belts holding hamburgers passing through it"
      class="mx-auto"
      format={'webp'}
    />
  </div>
</div>
