---
import { Icon } from "astro-icon/components";
import OutlineButton from "./buttons/OutlineButton.astro";
import Resume from "../../public/Matthew-Berger-Resume-April-2023.pdf";
---

<nav class="from-default-900 bg-gradient-to-b py-6">
  <div
    class="mx-auto flex flex-row items-center justify-between px-6 md:px-14 lg:max-w-6xl lg:px-6"
  >
    <span class="mr-10 cursor-pointer pb-3 sm:py-0">
      <a href="/">
        <Icon name="logo" size="80" />
      </a>
    </span>

    <label class="relative lg:hidden">
      <input class="peer hidden" type="checkbox" />
      <Icon name="ph:list" class="cursor-pointer" size="30" />
      <div
        class="absolute right-0 top-10 z-10 max-h-0 overflow-hidden rounded-lg bg-livid-700 text-center text-lg shadow-2xl transition-all duration-150 font-width-[87] peer-checked:max-h-96"
      >
        <a
          href="/reading"
          class="hover:bg-default-400/25 block px-10 py-4 transition-colors"
          >Reading</a
        >
        <a
          href="/blog"
          class="hover:bg-default-400/25 block px-10 py-4 transition-colors"
          >Blog</a
        >
        <a
          href="/about"
          class="hover:bg-default-400/25 block px-10 py-4 transition-colors"
          >About</a
        >
        <div class="hover:bg-default-400/25 cursor-pointer pb-2 pt-2">
          <a
            href={Resume}
            target="_blank"
            class="inline-block rounded-lg border px-4 py-3 tracking-wider transition-colors"
            >Resume</a
          >
        </div>
      </div>
    </label>

    <div
      class="hidden w-full flex-row flex-wrap items-center justify-between font-width-[87] sm:w-auto sm:justify-center sm:space-x-12 lg:flex"
    >
      <a href="/blog" class="transition-colors hover:text-livid-200">Blog</a>
      <a href="/about" class="transition-colors hover:text-livid-200">About</a>
      <a href="/reading" class="transition-colors hover:text-livid-200"
        >Reading</a
      >
      <OutlineButton text="Resume" path={Resume} target="_blank" />
    </div>
  </div>
</nav>
