---
import { Image } from "@astrojs/image/components";
import logo from '../images/logo.svg';
---

<nav class="py-6 bg-gradient-to-b from-default-900">
  <div
    class="px-6 md:px-14 lg:px-6 lg:max-w-5xl mx-auto flex flex-col sm:flex-row justify-between items-center"
  >
    <span class="pb-3 sm:py-0 cursor-pointer">
      <a href="/">
        <Image src={logo} alt="Logo of an orange M and a blue B" width={'auto'} height={'auto'}/>
      </a>
    </span>
    <div
      class="flex flex-row sm:space-x-12 uppercase text-lg items-center justify-between w-full sm:w-auto sm:justify-center"
    >
      <a href="/" class="hover:text-brandTeal transition-all">Home</a>
      <a href="/about" class="hover:text-brandTeal transition-all">About</a>
      <a href="/projects" class="hover:text-brandTeal transition-all"
        >Projects</a
      >
      <a href="/blog" class="hover:text-brandTeal transition-all">Blog</a>
    </div>
  </div>
</nav>
