---
import { Image } from "astro:assets";

export interface Props {
  title: string;
  summary: string;
  image: string;
  slug: string;
}

const { title, summary, image, slug } = Astro.props;
---

<a
  href={slug}
  class="group flex flex-1 rounded-lg bg-blue-600 p-6 transition-all duration-300 hover:translate-y-[-1rem] motion-reduce:transform-none motion-reduce:transition-none xs:flex-row md:flex-col"
>
  <h3 class="mb-4 font-phudu text-3xl font-semibold text-livid-200">{title}</h3>
  <p class="text-md md:text-lg lg:text-base">{summary}</p>
</a>
