---
import { Image } from "@astrojs/image/components";
import OutlineButton from "./Buttons/OutlineButton.astro";
import Icon from "astro-icon";
import SolidButton from "./Buttons/SolidButton.astro";

export interface Props {
    title: string;
    summary: string;
    image: string;
    slug: string;
}

const { title, summary, image, slug } = Astro.props;
---


<a href={slug} class='group bg-white text-default-400 rounded-lg shadow-lg flex flex-col hover:translate-y-[-1.3rem] transition-all duration-300 motion-reduce:transition-none motion-reduce:transform-none h-full'>
    <div class="w-full h-56 overflow-hidden">
        <Image src={image} class='rounded-t-lg' width={'auto'} height={'auto'}/>
    </div>
    <div class="p-6 basis-1/2">
        <h3 class="text-3xl mb-4 font-semibold">{title}</h3>
        <p class="text-md md:text-lg lg:text-base pb-6">{summary}</p>    
    </div>
</a>
    
    
    
    
    