---
import { Image } from "@astrojs/image/components";

export interface Props {
	title: string;
	summary: string;
    image: string;
    slug: string;
    projectLinks: any;
}

const {title, summary, image, slug, projectLinks } = Astro.props;
---

<a href={slug} class='group bg-white text-default-400 rounded-lg shadow-lg flex flex-col md:flex-row transition transform hover:-translate-y-[0.25rem] hover:-translate-x-[-0.25rem] duration-300 motion-reduce:transition-none motion-reduce:transform-none'>
    <Image src={image}  class='basis-5/12 rounded-l-lg overflow-hidden max-h-72 object-cover' width={"600"} height={"400"} alt="Project Image" format={'webp'}/>
    <div class="p-6 basis-7/12">
    <h3 class="text-3xl my-4 font-semibold">{title}</h3>
    <p class="text-md md:text-lg lg:text-base pb-3">{summary}</p>
    </div>
</a>