---
import type { CollectionEntry } from "astro:content";

const { date, title, company, description, tools } = (
  Astro.props.job as CollectionEntry<"jobs">
).data;
---

<div class="flex flex-col lg:flex-row lg:gap-8">
  <div class="whitespace-nowrap font-phudu font-semibold text-livid-500">
    {date}
  </div>
  <div>
    <h3 class="font-phudu text-xl font-semibold text-yellow-600">
      {title} - {company}
    </h3>
    <p class="max-w-[55ch] font-width-[90]">
      {description.join(" ")}
    </p>
    <ul class="flex flex-wrap gap-2 pt-2">
      {
        tools.map((tool) => (
          <li class="rounded-full bg-livid-700 px-3.5 py-1.5 text-xs font-semibold leading-relaxed text-livid-300 font-width-[90]">
            {tool}
          </li>
        ))
      }
    </ul>
  </div>
</div>
