---
import { Image } from "astro:assets";
import ResumeImage from "../data/images/resume-mockup.png";
import SolidButton from "./buttons/SolidButton.astro";
import Resume from "../../public/Matthew-Berger-Resume-April-2023.pdf";
---

<div
  class="flex items-stretch gap-8 rounded-2xl bg-orange-600 p-8 text-livid-200"
>
  <div class="flex flex-col">
    <h4 class="font-phudu text-lg leading-none">File Download</h4>
    <h2 class="mb-auto font-phudu text-3xl font-medium leading-tight">
      See My Resume
    </h2>
    <SolidButton
      text="Download Here"
      path={Resume}
      target="_blank"
      foreground="orange"
      background="yellow"
    />
  </div>
  <Image src={ResumeImage} alt="" format={"webp"} />
</div>
