---

---

<div class="flex gap-8 opacity-0">
  <div class="grow whitespace-nowrap font-phudu font-semibold text-livid-500">
    May - Aug 2024
  </div>
  <div>
    <h3 class="font-phudu text-xl font-semibold text-yellow-600">
      Software Developer - Spellbook
    </h3>
    <p class="max-w-[65ch] font-width-[90]">
      Some brief words about what I did while I was at Spellbook. Lorem ipsum
      dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
      nostrud exercitation ullamco
    </p>
    <div class="flex gap-3 pt-4">
      <span
        class="rounded-full bg-livid-700 px-4 py-2 text-xs font-bold text-livid-300"
        >TypeScript</span
      >
      <span
        class="rounded-full bg-livid-700 px-4 py-2 text-xs font-bold text-livid-300"
        >MongoDB</span
      >
      <span
        class="rounded-full bg-livid-700 px-4 py-2 text-xs font-bold text-livid-300"
        >Storybook</span
      >
    </div>
  </div>
</div>
