---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import Spacer from "../components/Spacer.astro";
import MainLayout from "./MainLayout.astro";

export interface Props {
  content: {
    title: string;
    summary: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, summary, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<MainLayout title={`Matthew Berger | ${title}`}>
  <div class="px-6 md:px-14 lg:px-6 lg:max-w-6xl mx-auto">
    <h1 class="text-5xl font-bold mb-1 mt-12 leading-[1.2]">
      {title}
    </h1>
    <h2 class="text-1xl mb-6">{pubDate}</h2>
    <article class="prose prose-invert prose-cyan">
      <slot />
    </article>
  </div>
  <Spacer />
</MainLayout>
