---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import Spacer from "../components/Spacer.astro";
import GoogleAnalytics from "../components/googleAnalytics.astro";
import Hotjar from "../components/hotjar.astro";
import MetaTags from "../components/metaTags.astro";
import { ClientRouter } from "astro:transitions";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="font-instrument bg-default-900 text-livid-300 selection:bg-blue-500"
>
  <head>
    <ClientRouter />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Phudu:wght@300..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <MetaTags title={title} />
    <Hotjar id="3496449" version="6" />
    <GoogleAnalytics id="G-ZB1JXTKLB7" />
  </head>
  <body class="bg-livid-900">
    <Nav />
    <div class="mx-auto px-6 md:px-14 lg:max-w-6xl lg:px-6">
      <!-- <a class="fixed [writing-mode:vertical-lr] rotate-180 left-8 bottom-1/4 text-livid-500">matthew17berger@gmail.com</a> -->
      <slot />
      <Spacer />
    </div>
    <Footer />
  </body>
</html>
